{% extends "monitor/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Device Monitor{% endblock title %}

{% block content %}

<div class="container-fluid mt-4" xmlns="http://www.w3.org/1999/html">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Network Devices</h2>
            <!--scan from -->
            <div class="card p-4 shadow">


                <form method="get">
                        <label>Router IP:</label>
                        <input type="text" name="ip" value="{{ current_ip }}" />
                        <button type="submit">Scan</button>
                </form>

<br>
                    <div class="row mb-4">

                        <div class="col-md-3">
                            <div class="card text-bg-primary shadow">
                                <div class="card-body">
                                    <h5>Total Devices</h5>
                                    <h2>{{ total_devices }}</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card text-bg-success shadow">
                                <div class="card-body">
                                    <h5>Online</h5>
                                    <h2>{{ online_count }}</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card text-bg-danger shadow">
                                <div class="card-body">
                                    <h5>Offline</h5>
                                    <h2>{{ offline_count }}</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="device-table">
                        {% include "monitor/device_table.html" %}
                    </div>

        </div>
    </div>
</div>

<script>
    setInterval(function(){
        fetch("/devices/table/")
            .then(response => response.text())
            .then(html => {
                document.getElementById("device-table").innerHTML = html;
            });
    }, 120000);
</script>
    {% endblock content %}